/* Print everything in black on receipts */
@media print {
  body, p, h1, h2, h3, h4, h5, h6, a, td, .credit {
    width: 70mm;
    margin: 0;
    color: #000000 !important;
    background-color: #ffffff;
    font-weight: bold !important;
  }
}

* {
  font-family: 'Arial Black', 'Arial', sans-serif !important;
}

body {
  font-size: 10pt;
}

.slip p {
  font-size: 10pt;
}

.slip h1 {
  font-size: 1.6em;
}

.slip h2 {
  font-size: 1.5em;
}

.slip h3 {
  font-size: 1.4em !important;
}

.slip h4 {
  font-size: 1.3em !important;
}

.slip h5 {
  font-size: 1.2em;
}

.slip h6 {
  font-size: 1.1em;
}
