<!-- Template toolkit plugins go first if needed - see the list of template toolkit plugins below -->

[% USE Asset %]
[% USE AuthorisedValues %]
[% Use Biblio %]
[% USE Branches %]
[% USE date %]
[% manip = date.manip %]

[% USE ItemTypes %]
[% USE KohaDates %]
[% USE Price %]
[% totalValue = 0 %]

<!DOCTYPE html>

<html>

<head>

  <title></title>
  <!-- Library: ; Koha module: ; Template Code: ; Template type: ;  --> 

  <meta charset="UTF-8" />

  <style>

    /* The same CSS stylesheet is defined in NoticeCSS and in SlipCSS - any CSS specific to this template should go here */

  </style>

</head>

<body>



  <div class="nsc_slip">

    <!-- Slip content goes here -->
  
  </div>



  <div class="nsc_email">

    <!-- Email content goes here -->
  
  </div>



  <div class="nsc_print">

    <!-- Print content goes here -->

  </div>

</body>


</html>